name: Deploy Laravel to Hostinger

on:
  push:
    branches:
      - main # Cambia esto si el branch principal es otro.

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.1" # Cambia esto según tu versión de PHP
          extensions: mbstring, intl, pdo, bcmath, xml, curl
          tools: composer

      - name: Install dependencies
        run: |
          composer install --no-dev --optimize-autoloader
          php artisan config:cache
          php artisan route:cache
          php artisan view:cache

      - name: Deploy to Hostinger
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.HOSTINGER_SSH_USER }}@$${{ secrets.HOSTINGER_SERVER_IP }} << 'EOF'
            cd /ruta/a/tu/proyecto
            git pull origin main
            composer install --no-dev --optimize-autoloader
            php artisan migrate --force
            php artisan cache:clear
          EOF
